body {
    background-color: #F5F6FA;
}


.main {
    height: 100vh;
}

.search-container {
    display: flex;
    align-items: center;
}

.map-container {
    height: 500px;
}

.header-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#map {
    border-radius: 12px;
    overflow: hidden;
}

.chart-container {
    margin-left: 0;
    margin-right: 0;
}

.chart-container .col {
    background-color: #EFF2F6;
    border-radius: 12px;
}

.linear-chart {
    height: 100%;
}

.title-container h2 {
    color: #fc3c3c;
    margin-bottom: 0;
}

.title-container h4 {
    text-transform: uppercase;
    color: #CACBCF;
}

.stats-container .card {    
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5);
}

.stats-container .card-body {
    padding: 1rem;
}

.stats-container .card-title {
    color: #695d5c;
    font-weight: 400;
}

.stats-container .card-subtitle {
    font-weight: 600;
}

.stats-container .total {
    font-size: 0.8rem;
}

.side-panel-container {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: white;
    box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5);
    padding-top: 15px;
}


.total-number {
    color: #cc1034;
}

.recovered-number {
    color: #7fd922;
}

.deaths-number {
    color: #FA5575;
}

.cases-table-container h4, .chart-container h4 {
    color: #6A5D5D;
    font-weight: 400;
}

.country-data .table td {
    padding: 0.5rem;
    border: none;
}