body {
    margin: 0;
}

#nav {
    background-color: blue;
    height: 50px;
}

#map  {
    width: 100%;
    height: 100%;
}

.map-info {
    background-color: bisque;
    height: 400px;
}

.data-info {
    height: 700px;
    display: flex;
    justify-content: center;
}

.country-data {
    width: 50%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-container {
    width: 150px;
}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-confirmed, .info-recovered, .info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

